body
{
	background-image: url(Confucius128px.jpg);
}

h1
{
  background-color: green;
  color: magenta;
  text-align: center;
  font-size: 100px;
  font-family: "Comic Sans MS";
}

h2
{
  background-color: green;
  color: yellow;
  text-align: center;
  font-size: 30px;
  font-family: "Comic Sans MS";
}

#annonce
{
	position: relative;
	left: 50px;
	width: 200px;
	height: 60px;
	background-color: red;
	border: outset;
	text-align: center;
}

#container
{
	position: relative;
	height: 200px;
	width: 200px;
	margin: auto;
	perspective: 500px;
	perspective-origin: center;
}

@keyframes spin
{
	from
	{
		transform: rotateX(0deg) rotateY(0deg);
	}
	to
	{
		transform: rotateX(360deg) rotateY(360deg);
	}
}

#buche
{
	position: relative;
	margin: 250px auto;
	transform-style: preserve-3d;
	animation: spin 15s infinite linear;
}

.buche
{
	position: absolute;
	width: 200px;
	height: 300px;
	background-size: 200px 300px;
	background-repeat: no-repeat;
}

.buche1
{
	background-image: url(buche1.jpg);
	transform: translateY(-150px) translateZ(87px);
}

.buche2
{
	background-image: url(buche2.jpg);
	transform: translateY(-150px) translateX(-50px) rotateY(60deg);
}

.buche3
{
	background-image: url(buche3.jpg);
	transform: translateY(-150px) translateX(50px) rotateY(120deg);
}

#txtbuche
{
	color: blue;
	text-align: center;
	font-size: 30px;
	font-family: "Comic Sans MS";
	transform: translateY(-150px) translateX(200px);
}
