body
{
	background-image: url(Confucius128px.jpg);
}

h1
{
	background-color: green;
	color: magenta;
	text-align: center;
	font-size: 100px;
	font-family: "Comic Sans MS";
}

h2
{
	background-color: green;
	color: yellow;
	text-align: center;
	font-size: 30px;
	font-family: "Comic Sans MS";
}

#annonce
{
	position: relative;
	left: 50px;
	width: 200px;
	height: 60px;
	background-color: red;
	border: outset;
	text-align: center;
}

#apropos
{
	position: relative;
	left: 1050px;
	bottom: 50px;
	width: 400px;
	height: 250px;
	background-color: white;
	border: outset;
	text-align: center;
}

#auteur
{
	text-align: left;
	margin: 20px;
}

#container
{
	position: relative;
	bottom: 200px;
	right: 200px;
	height: 200px;
	width: 200px;
	margin: auto;
	perspective: 500px;
	perspective-origin: center;
}

@keyframes spin
{
	from
	{
		transform: rotateY(0deg);
	}
	to
	{
		transform: rotateY(360deg);
	}
}

#buche
{
	position: relative;
	margin: 250px auto;
	transform-style: preserve-3d;
	animation: spin 15s infinite linear;
}

.buche
{
	position: absolute;
	width: 200px;
	height: 300px;
	background-size: 200px 300px;
	background-repeat: no-repeat;
}

.buche1
{
	background-image: url(buche1.jpg);
	transform: translateY(-150px) translateZ(87px);
}

.buche2
{
	background-image: url(buche2.jpg);
	transform: translateY(-150px) translateX(-50px) rotateY(60deg);
}

.buche3
{
	background-image: url(buche3.jpg);
	transform: translateY(-150px) translateX(50px) rotateY(120deg);
}

.terre
{
	background-image: url(globe.png);
	transform: translateY(-150px) translateZ(-800px);
}

.lune
{
	width: 80px;
	height: 80px;
	background-size: 80px 80px;
	background-image: url(lune.png);
	transform: translateY(-150px) translateX(200px) translateZ(-1000px);
}

#txtbuche
{
	color: blue;
	text-align: center;
	font-size: 30px;
	font-family: "Comic Sans MS";
	transform: translateY(-150px) translateX(200px);
}
